@font-face {
  font-family: "amatic";
  src: url(../fonts/AmaticSC-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "quicksand";
  src: url(../fonts/Quicksand-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "test";
  src: url(../fonts/BarlowCondensed-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: "serif-pro";
  src: url(../fonts/SourceSerifPro-Regular.ttf);
  font-display: swap;
}

//fonts

.amatic {
  font-family: "amatic";
}

.quicksand {
  font-family: "quicksand";
}

.test {
  font-family: "test";
}

.serif-pro {
  font-family: "serif-pro";
}

.text-massive {
  font-size: 6rem;
}
//colors

$darkRed: #4f0000;
$pink: #ff0481;
$brown: #7f6c73;
$lightestBlue: #eaffff;
$darkBlue: #18132a;

.text-darkBlue {
  color: $darkBlue;
}

.bg-darkBlue {
  background: $darkBlue;
}

.bird {
  fill: $darkBlue;
  top: -5rem;
  right: 0;
  height: 22rem;

  @media (min-width: 750px) {
    height: 35rem;
  }
}

.splash {
  left: 10%;
}

.splash-med-left {
  left: 10%;
}

.splash2 {
  right: 20%;
  transform: rotateX(180deg);
}

.blob-splash {
  left: 25%;
  bottom: 1%;
}

.small-splash {
  top: 5%;
  right: 25%;
}

.lightSVG {
  fill: $lightestBlue;
}

.card-stlye {
  border: solid black 1px;
}
