@import "../styles/all.scss";

.card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-family: "quicksand";

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transition: filter ease-in-out 0.5s;
}

.card-back-image-wrapper {
  height: 100%;
  width: 100%;
  position: relative;

  .card-img {
    position: absolute !important;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
  }

  // .card-gradient {
  //   background: linear-gradient(
  //     to bottom,
  //     rgba(51, 51, 51, 0.123) 0%,
  //     rgba(0, 18, 36, 0.897) 50%,
  //     rgb(0, 18, 36) 100%
  //   );
  // }
}

.card-text-wrapper {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;

  .card-back-title {
    margin-bottom: 0;
    font-size: 1.25rem;
    color: $lightestBlue;
    text-align: center;
    text-transform: uppercase;
  }

  // .card-back-subtitle {
  //   padding: 1rem;
  //   padding-bottom: 0rem;
  // }

  ul {
    color: $lightestBlue;

    padding: 1rem;
    padding-bottom: 0rem;
    font-size: 1rem;
    margin-bottom: 0;

    li {
      margin-bottom: 0;
    }
  }
}

// .card-wave {
//   position: absolute;
//   transform: rotate(180deg);
//   bottom: -1rem;
//   left: -2rem;
//   right: -1rem;
//   width: 130%;
// }

.card-back-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "quicksand";

  a {
    text-decoration: none !important;
  }
  button {
    padding: 0.75rem;
    margin: 2rem;

    height: 3rem;
    width: auto;

    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;

    border: solid 1px $lightestBlue;
    color: $lightestBlue;
    cursor: pointer;
    font-family: "quicksand";

    display: flex;
    align-items: center;

    transition: all;

    &:active,
    &:hover,
    &:focus {
      background-color: rgba(240, 248, 255, 0.096);
    }

    .git-button-icon {
      fill: $lightestBlue;

      height: 1.2rem;
      margin-right: 0.5rem;
      margin-left: 0;
    }
  }
}
