.card-front {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s;

  line-height: 1.5;
  // color: $lightestBlue;
  // font-family: $primaryFont;
  // text-transform: uppercase;
  font-size: 2rem;
}

.card1-front-wrapper {
  // background-color: $gradientBlue2;
}

.project-logo {
  height: auto;
  width: 15rem;
}

// #sml-business-project {
//   background-color: #054e88;
// }

// #food-blog {
//   background-color: $lightestBlue;
// }

// #flickr-API {
//   background-color: $pink;
// }
