.project-section {
  // justify-content: center;
  // align-items: center;
  max-width: 130rem;
  // margin: auto;
}

.projects {
  width: 100%;
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-wrapper {
  position: relative;
  width: 340px;
  height: 340px;

  transition: filter ease-in-out 0.2s;

  &:hover {
    filter: drop-shadow(0 14px 28px rgba(0, 0, 0, 0.25))
      drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1));
  }
}
